<!DOCTYPE html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="../../app.css" />
    <script type="module">
      import { near, far } from '../../../src/main.ts'
        window.near = near
        window.far = far
    </script>
    <title>Simple Grid</title>
  </head>
  <body>
    <article id="A" style="width:375px; height:75px;" class="bigandsmall">Item A</article>
    <article id="B" style="width:40px; height:75px;" class="bigandsmall">Item B</article>
    <article id="C" style="width:375px; height:75px;" class="bigandsmall">Item C</article>
    </div>
  </body>
</html>
