<!DOCTYPE html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="../../app.css" />
    <title>Irregular Grid</title>
  </head>
  <body>
    <div class="box-wide" id="irregular-grid">
      <article id="A">Item A</article>
      <article id="B" style="width:300px; margin-left:100px">Item B</article>
      <article id="C" style="width:100px; height: 50px; margin-left:100px">Item C</article>
      <article id="D">Item D</article>
      <article id="E">Item E</article>
      <article id="F">Item F</article>
    </div>
  </body>
</html>
