<!DOCTYPE html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="../../app.css" />
   <script type="module">
      import { near, far, nearestElementToPoint } from '../../../src/main.ts'
      window.near = near
      window.far = far
      window.nearestElementToPoint = nearestElementToPoint

      document.addEventListener('DOMContentLoaded', () => {
        console.log('Loaded')
        document.addEventListener('click', (e) => {

          const { clientX: x, clientY:y } = e

          console.log(x,y)
          const nearestElement = window.nearestElementToPoint({x,y}, ['article'])
          console.log(nearestElement.textContent)

        })
      })
    </script>
    <title>Irregular Grid</title>
  </head>
  <body>
    <div class="box-wide" id="irregular-grid">
      <article id="A">Item A</article>
      <article id="B" style="width:300px; height: 90px; margin-left:100px; margin-top: 120px">Item B</article>
      <article id="C" style="width:300px; height: 90px; margin-left:300px; margin-top: 200px">Item C</article>
      <article id="D" style="width:100px; height: 50px; margin-left:400px; margin-top: 360px">Item D</article>
    </div>
  </body>
</html>
