<!DOCTYPE html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="../../app.css" />
    <script type="module">
      import { near, far } from '../../../src/main.ts'
      window.near = near
      window.far = far
    </script>
    <title>Simple Grid (extensive)</title>
  </head>
  <body>
    <div class="box-wide-ultra" id="simple-gri-extensive">
      <article id="A">Item A</article>
      <article id="B">Item B</article>
      <article id="C">Item C</article>
      <article id="D">Item D</article>
      <article id="E">Item E</article>
      <article id="F">Item F</article>
      <article id="G">Item G</article>
      <article id="H">Item H</article>
      <article id="I">Item I</article>
      <article id="J">Item J</article>
      <article id="K">Item K</article>
      <article id="L">Item L</article>
      <article id="N">Item N</article>
      <article id="M">Item M</article>
      <article id="O">Item O</article>
      <article id="P">Item P</article>
      <article id="Q">Item Q</article>
      <article id="R">Item R</article>
      <article id="S">Item S</article>
      <article id="T">Item T</article>
      <article id="U">Item U</article>
      <article id="V">Item V</article>
      <article id="W">Item W</article>
      <article id="X">Item X</article>
      <article id="Y">Item Y</article>
      <article id="Z">Item Z</article>
      <article id="AA">Item AA</article>
      <article id="AB">Item AB</article>
      <article id="AC">Item AC</article>
      <article id="AD">Item AD</article>
      <article id="AE">Item AE</article>
      <article id="AF">Item AF</article>
      <article id="AG">Item AG</article>
      <article id="AH">Item AH</article>
      <article id="AI">Item AI</article>
      <article id="AJ">Item AJ</article>
      <article id="AK">Item AK</article>
      <article id="AL">Item AL</article>
      <article id="AM">Item AM</article>
      <article id="AN">Item AN</article>
      <article id="AO">Item AO</article>
      <article id="AP">Item AP</article>
      <article id="AQ">Item AQ</article>
      <article id="AR">Item AR</article>
      <article id="AS">Item AS</article>
      <article id="AT">Item AT</article>
      <article id="AU">Item AU</article>
      <article id="AV">Item AV</article>
      <article id="AW">Item AW</article>
      <article id="AX">Item AX</article>
      <article id="AY">Item AY</article>
      <article id="AZ">Item AZ</article>
      <article id="BA">Item BA</article>
      <article id="BC">Item BC</article>
      <article id="BD">Item BD</article>
      <article id="BE">Item BE</article>
      <article id="BF">Item BF</article>
      <article id="BG">Item BG</article>
      <article id="BH">Item BH</article>
      <article id="BI">Item BI</article>
      <article id="BJ">Item BJ</article>
      <article id="BK">Item BK</article>
      <article id="BL">Item BL</article>
      <article id="BM">Item BM</article>
      <article id="BN">Item BN</article>
      <article id="BO">Item BO</article>
      <article id="BP">Item BP</article>
      <article id="BQ">Item BQ</article>
      <article id="BR">Item BR</article>
      <article id="BS">Item BS</article>
      <article id="BT">Item BT</article>
      <article id="BU">Item BU</article>
      <article id="BV">Item BV</article>
      <article id="BW">Item BW</article>
      <article id="BX">Item BX</article>
      <article id="BY">Item BY</article>
      <article id="BZ">Item BZ</article>
      <article id="CA">Item CA</article>
      <article id="CB">Item CB</article>
      <article id="CC">Item CC</article>
      <article id="CD">Item CD</article>
      <article id="CE">Item CE</article>
      <article id="CF">Item CF</article>
      <article id="CG">Item CG</article>
      <article id="CH">Item CH</article>
      <article id="CI">Item CI</article>
      <article id="CJ">Item CJ</article>
      <article id="CK">Item CK</article>
      <article id="CL">Item CL</article>
      <article id="CM">Item CM</article>
      <article id="CN">Item CN</article>
      <article id="CO">Item CO</article>
      <article id="CP">Item CP</article>
      <article id="CQ">Item CQ</article>
      <article id="CR">Item CR</article>
      <article id="CS">Item CS</article>
      <article id="CT">Item CT</article>
      <article id="CU">Item CU</article>
      <article id="CV">Item CV</article>
      <article id="CW">Item CW</article>
      <article id="CX">Item CX</article>
      <article id="CY">Item CY</article>
      <article id="CZ">Item CZ</article>
      <article id="DA">Item DA</article>
      <article id="DB">Item DB</article>
      <article id="DC">Item DC</article>
      <article id="DD">Item DD</article>
      <article id="DE">Item DE</article>
      <article id="DF">Item DF</article>
      <article id="DG">Item DG</article>
      <article id="DH">Item DH</article>
      <article id="DI">Item DI</article>
      <article id="DJ">Item DJ</article>
      <article id="DK">Item DK</article>
      <article id="DL">Item DL</article>
      <article id="DM">Item DM</article>
      <article id="DN">Item DN</article>
      <article id="DO">Item DO</article>
      <article id="DP">Item DP</article>
      <article id="DQ">Item DQ</article>
      <article id="DR">Item DR</article>
    </div>
  </body>
</html>
