<!DOCTYPE html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="../../app.css" />
    <script type="module">
      import { near, far } from '../../../src/main.ts'
      window.near = near
      window.far = far
    </script>
    <title>Simple Grid</title>
  </head>
  <body>
    <div class="box" id="simple-grid">
      <article id="A">Item A</article>
      <article id="B">Item B</article>
      <article id="C">Item C</article>
      <article id="D">Item D</article>
      <article id="E">Item E</article>
      <article id="F">Item F</article>
      <article id="G">Item G</article>
      <article id="H">Item H</article>
      <article id="I">Item I</article>
      <article id="J">Item J</article>
      <article id="K">Item K</article>
      <article id="L">Item L</article>
      <article id="N">Item N</article>
      <article id="M">Item M</article>
      <article id="O">Item O</article>
      <article id="P">Item P</article>
      <article id="Q">Item Q</article>
      <article id="R">Item R</article>
      <article id="S">Item S</article>
      <article id="T">Item T</article>
    </div>
  </body>
</html>
